.contatos {
    padding: 20px;
    background-color: #e0e0e0;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contatos-info {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.contatos-info h2 {
    text-align: center;
    font-size: 20px;
}

.contatos-info p {
    text-align: center;
    margin: 5px 0;
}

.contatos-info a {
    color: #0066cc;
    text-decoration: none;
}

.contatos-info a:hover {
    text-decoration: underline;
}